.App {
  text-align: center;
}

.logo {
  animation: float 4s ease-in-out infinite;
  height: 6vmin;
  pointer-events: none;
  margin-top: "25px";
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
